#assignment-link {
    font-size: 50px;
    color: green;
    text-align: center;
} /*This style will make the assignment link easy to find!*/

.heading {
    color: purple;
    font-weight: bold;
} /*This style will be applied to all kinds of headings*/

body {
    background-color: lightyellow;
}

@media screen and (min-width: 300px) {
    body {
      background-color: lightgreen;
    }
  }