body {
    background-color: #f2f2f2;
}

@media screen and (min-width: 700px) {
    body {

    }
  }

.topnav {
    background-color: #89c17b;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #e6b7b5;
    color: black;
}

.topnav a.active {
    background-color: #597956;
    color: white;
}

h1 {
    font-family: sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 60px;
    color: #597956;

}

h2 {
    font-family: sans-serif;
    font-variant: small-caps;
    font-size: 18px;
    color: #e6b7b5;
}

#name {
    text-align: center;
}

.bl {
    color: black;
}

.error {
    color: red;
}


/* Assignment 5: This styles the overlay to be slightly transparent and cover the whole screen */
#artOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

/*Assignment 5: Design elements for images on the page */
img {
    max-width: 100%; 
    height: auto; 
    display: block;  
    border-radius: 8px;
    border-color: #597956;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

/* Assignment 5: More design elements for images */
img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

